<div class="row">
    <div class="col-8">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Vegetable Name</th>
              <th scope="col">calories</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>carrot</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>

    </div>
    <div class="col-4">

      <ul class="list-group">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>

    </div>
  </div>