{% extends 'calories/base.html' %}

{% block content %}

    <div class="row">
      <div class="col-8">

            <div id="genderSelect">
                <label for="" style="display:block;" class="mt-4">Gender</label>
                <label class="radio"><input type="radio" name="gender" value="male">Male</label> 
                <label><input type="radio" name="gender" value="female">Female</label> 
            </div>

            <div class="food_list">
                <label for="">Food Category</label>
                <select name="" id="food_category" required>
                    <optgroup label="Category">
                        <option value="">Select</option>
                        <option value="">Vegetable</option>
                        <option value="">Dairy</option>
                    
                    </optgroup>
                </select><br>
            
                <label for="">Food Name</label>
                <select name="" id="food_name" onchange="getSelectedValue(this)" required>
                    <optgroup label="Select">
                        {% for veg in vegetables %}
                            <option value="">{{ veg.veg_name}}</option>
                        {% endfor %}
                    </optgroup>
                </select>


                <label for="">Quantity</label><input type="number" placeholder="gm" id="quantity_input"><br>
                <button class="btn btn-sm btn-primary add" type="submit">Submit</button>
                <button class="btn btn-sm btn-secondary calculate" type="submit">Calculate</button>

            </div>


            <div class="showData">
                <table class="table table-sm table-bordered">
                    <thead>
                      <tr>
                        <!-- <th scope="col">Serial</th> -->
                        <th scope="col">Food Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Calories</th>
                        
                      </tr>
                    </thead>
                    <tbody id="table_body_input">
                      <!-- <tr>
                        <td>carrot</td>
                        <td>10</td>
                        <td>20</td>           
                      </tr> -->

                    </tbody>
                  </table>
            </div>

            <button class="btn btn-success btn-sm" id="toggleChart">Show Chart</button>
          
            <div id="chart" style="display: none;">
              <table class="table table-sm table-bordered">
                <thead>
                  <tr>
                    <!-- <th scope="col">Serial</th> -->
                    <!-- <th>Category</th> -->
                    <th scope="col">Food Name</th>
                    <th scope="col">Calories</th>
                    
                  </tr>
                </thead>
                <tbody id="table_chart">
                  <!-- <tr>
                    <td rowspan="9">Vegetable</td>
                  </tr> -->
                  {% for veg in vegetables %}
                    <tr>
                
                      <td>{{veg.veg_name}}</td>
                      <td>{{veg.veg_cal}}</td>      
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>


      </div>

      <div class="col-4">
          <div class="result">
            <h4 class="text-center" style="color: rgb(70, 67, 66); font-weight: 800;">Calories</h4>
            <hr>
            <p> <strong class="strongResult">Calories consumed today: </strong><span id="total_calorie_consumed"></span></p>
            <hr>
            <p><strong class="strongResult">Target: </strong><span id="target"></span></p>
            <p><strong class="strongResult">Remaining: </strong><span id="remain"></span></p>

          </div>

      </div>
    </div>


{% endblock %}