{% extends 'calories/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block login %}

<div class="loginBg">
  <h2 class="text-center" style="color: rgb(240, 224, 224);">Count Your Daily Consumed Calories!</h2>
  <div class="mt-xl-5 p-5 loginformClass">
  <form method="POST" action="{% url 'login' %}" id="loginform" style="height:350px;">
    {% csrf_token %}
      <div class="row mb-3 " >
        {{form}}
      </div>
      

      <button type="submit" class="btn btn-primary logSignBtn">Sign in</button>
      
    </form>

  </div>
</div>
{% endblock %}
