body {
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    background-color: rgb(255, 255, 255);
    background-image: url('https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-image: no-repeat;
    width:100%;
    padding: 100px 10px;
    height: 900px;
    opacity: 90%;
    color: rgb(204, 93, 59);
}


.navigation_bar {
    background: rgb(73, 73, 73);
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
}

.nav a:hover{
    border-radius: 5px;
    background-color: rgb(63, 65, 64);
    color: rgb(224,174,73);
}

.nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    padding: 10px;
    margin-right: 18px;
    margin-left: 10px;
    
}

input[type=radio]{
    margin-right: 10px;
   
}

.radio {
    margin-top: 7px;
    margin-right: 20px;
}

label {
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}

#genderSelect {
    display: block;
    margin-bottom: 20px;
}

select {
    padding: 5px;
    margin: 10px;
}

.showData {
    padding-top: 20px;
}
#chart {
    padding-top: 20px;
    
}

.result {
    margin-top: 25px ;
    background-color: rgba(226, 226, 226, 0.5);
    width: 100%;
    font-size: 18px;
    max-height: 600px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 4px;
    box-shadow: 3px 3px 2px darkgrey;
    padding-bottom: 96px;

}

.result h4, .result p {
    padding: 10px 5px;
}

#total_calorie_consumed {
    font-size: 24px;
    color: rgb(80, 151, 80);
    padding-right: 5px;
}

p{
    padding-right: 5px;
}

.strongResult {
    color: rgb(90, 96, 99);
}

#target, #remain {
    color: rgb(83, 82, 82);
    font-size: 16.5px;
    font-weight: 200;
}

.button_submit_calculate {
    padding: 5px;
    margin-top: 35px;
    text-align: center;
}

.form_bg {
    background-color: rgba(182, 175, 175, 0.589);
    border-radius: 6px;
    box-shadow: 2px 2px 15px rgba(161, 156, 156, 0.705);
   
}

#age, #food_name{
    border-radius: 3px;
    width: 200px;
}

input[type=number] {
    margin-left: 10px;
    width: 200px;
    
    padding:2px;
    margin-left: 20px;
    margin-top: 10px;
    
}

.quantity_label {
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 2px;
}


.loginBg, .homepage {
    background-image: url('https://images.pexels.com/photos/1536293/pexels-photo-1536293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-image: no-repeat;
    width:100%;
    padding: 100px 10px;
    height: 900px;
    opacity: 90%;
    
    
}

#loginform  {
    width: 300px;
    text-align: center;
    padding-left: -40px;
    margin-left: 30px;
}


.loginformClass {
    /* background-color: rgba(97, 100, 100, 0.555);  */
    width: 450px;
    margin-left:35%;
    border-radius: 4px;
    color: rgb(211, 205, 203);
    opacity: 95%;

}

.linkBtn {
    /* background-color: teal; */
    height: 400px;
    width: 400px;
    margin-top: 40px;
    margin-left: 45%;
}

.linkBtn button a {
    color: thistle;
    text-decoration: none;
}

.homepage h2 {
    padding-top: 40px;
}

/* for form style */

form {
    width: 400px;
    /* height: 650px; */
    margin: 10px auto;
    padding: 10px 30px;
    background: #cbd0d1;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"]
  
 {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: #e8eeef;
    color: #50565a;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  
  .logSignBtn {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  
  label {
    display: block;
    margin-bottom: 8px;
    color: rgb(78, 75, 75);
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }